.footer {
    background-color: white;
    /*        display: none;*/
}

.container .footer_block {
    display: flex;

    justify-content: space-between;
}

.footer_block {
    margin-bottom: 75px;
    padding-top: 82px;
}

.footer_block__list {
    /*    margin-left: 7px;*/
}

.footer_block__list_link {
    display: inline-block;
    padding-bottom: 13px;
    color: #8993ad;
    font-size: 18px;
    transition: color .6s;
}

.footer_block__list_link:hover {
    color: #f82370;
}



.footer_block__contacts {
    display: block;
    /*    margin-left: 45px;*/
}


.footer_block__contacts .contacts_link {
    display: block;
    color: #000000;
    font-size: 25px;
}

.fa-phone-alt {
    position: absolute;
    top: 45%;
    left: 34.3%;
    color: green;
    color: #f82074;
    font-size: 20px;
    transition: transform .2s;
}


.fa-phone-alt:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.5.1);
}

.fa-envelope-open {
    position: absolute;
    top: 79%;
    left: 34.6%;
    color: #f82074;
    font-size: 20px;
    transition: transform .2s;
}

.fa-envelope-open:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.5.1);
}


.phone_contacts {
    display: inline-block;
    padding-left: 132px;
}

.mail {
    display: inline-block;
    margin-top: 34px;
    margin-left: 20px;
    padding-left: 121px;
}



.footer_social__icons {
    margin-top: 15px;
}


.footer_social__icons .footer_social__icons_list {
    display: inline-block;
}

.footer_social__icons .footer_social__icons_list .social_media:first-child {
    margin-left: 0;
}



.footer_block__social {
    margin-right: 22px;
}

.footer_social__icons {
    display: inline-block;
    margin-right: 0px;
    background-repeat: no-repeat;
}

.footer_social__icons .social_media {
    display: inline-block;
    width: 45px;
    height: 45px;
    background-image: url(../img/footer/css_sprites.png);
    background-repeat: no-repeat;
    transition: opacity .5s;
}

.footer_social__icons .social_media:hover {
    opacity: .5;
}



.vk {
    width: 35px;
    height: 21px;
    background-position: -15px 2px;
    background-repeat: no-repeat;
}

.fb {
    width: 16px;
    height: 28px;
    background-position: -117px -3px;
    background-repeat: no-repeat;
}


.tw {
    margin-right: 24px;
    width: 35px;
    height: 30px;
    background-position: 0px -51px;
    background-repeat: no-repeat;
}


.inst {
    width: 25px;
    height: 25px;
    background-position: -80px 2px;
    background-repeat: no-repeat;
}

/* Иконки */



.footer_social__btn__phone {
    display: block;
    margin-top: -4px;
    width: 248px;
    height: 44px;
    border: 1px solid #f82370;
    background-color: #fbfbfb;
    color: #f82370;
    font-size: 16px;
    transition: background-color 1s;
}


.footer_social__btn__phone:hover {
    border: none;
    background-color: #f82370;
    color: white;
}


.footer_block__copyright {
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 34px;
    width: 100%;
    background-color: #31293c;
    color: #ffffff;
    text-align: center;
}


.footer_block__copyright_text {
    font-size: 16px;
    /*    padding-left: 10px;*/
}







@media screen and (min-width: 1024px) and (max-width:1169px) {

    .fa-phone-alt {
        position: absolute;
        top: 45%;
        left: 30%;
        color: green;
        color: #f82074;
    }

    .fa-envelope-open {
        position: absolute;
        top: 79%;
        left: 30%;
        color: #f82074;
    }


    .footer_block__copyright_text {
        margin-left: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 15px;
    }



}















@media screen and (min-width: 900px) and (max-width:1023px) {


    .footer_block__copyright_text {
        margin-left: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 15px;
    }


    .fa-phone-alt {
        position: absolute;
        top: 45%;
        left: 30%;
        color: green;
        color: #f82074;
        font-size: 16px;
    }

    .fa-envelope-open {
        position: absolute;
        top: 80%;
        left: 30%;
        color: #f82074;
        font-size: 16px;
    }


}










@media screen and (min-width: 769px) and (max-width: 900px) {

    .footer_block__copyright_text {
        margin-left: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 15px;
    }

    .footer_social__btn__phone {
        width: 200px;
    }


    .footer_block__contacts {
        margin-left: 15px;
        /*        margin-top: 0px;*/
    }



    .footer_block__contacts .contacts_link {
        margin-right: 20px;
        font-size: 20px;
    }

    .footer_social__icons {
        margin-top: 10px;
    }


    .fa-phone-alt {
        position: absolute;
        top: 32%;
        left: 32%;
        color: green;
        color: #f82074;
        font-size: 16px;
    }

    .fa-envelope-open {
        position: absolute;
        top: 75%;
        left: 32%;
        color: #f82074;
        font-size: 16px;
    }

    .footer_block__social {
        margin-right: 0;
    }


    .footer_block {
        margin-bottom: 40px;
        padding-top: 30px;

        align-items: center;
        justify-content: space-between;
    }



}



@media screen and (min-width: 601px) and (max-width: 768px) {

    .footer .container {
        padding: 0 20px;
    }




    .container .footer_block {
        display: flex;
        flex-direction: column;
    }


    .footer_block {
        margin-bottom: 50px;
        padding-top: 30px;
    }


    .fa-phone-alt {
        position: absolute;
        top: 30%;
        left: 25%;
        color: green;
        color: #f82074;
        font-size: 13px;
    }

    .fa-envelope-open {
        position: absolute;
        top: 47%;
        left: 25%;
        color: #f82074;
        font-size: 13px;
    }






    .footer_block__list {
        display: flex;
        margin-left: 0;

        justify-content: space-between;
    }


    .footer_block__contacts .contacts_link {
        margin-right: 20px;
        color: #8993ad;
        font-size: 20px;
        /*        display: inline-block;*/
    }

    .phone_contacts {
        padding-left: 0;
    }

    .mail {
        margin-left: 0;
        padding-left: 0;
    }


    .footer_block__contacts {
        display: inline-block;
        margin-top: 30px;
        margin-bottom: 35px;
        text-align: center;
    }



    .footer_social__icons .social_media {
        opacity: .9;
    }


    .footer_social__btn__phone {
        display: inline-block;
        width: 270px;
        height: 55px;
        border: 1px solid #f82370;
        background-color: #ff4e2e;
        color: #fff3f1;
        font-size: 16px;
    }


    .footer_block__social {
        display: flex;
        flex-direction: column;
        margin-right: 0;
        text-align: center;

        align-items: center;
    }

    .footer_block__copyright_text {
        margin-left: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 15px;
    }


}

@media screen and (min-width: 650px) and (max-width: 768px) {




    .container .footer_block {
        display: flex;
        flex-direction: row;

        justify-content: space-between;
    }

    .footer_block__list {
        margin-top: 27px;
        margin-left: 0;
    }

    .footer_block__list {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }


    .footer_block__contacts {
        margin-top: 35px;
        margin-left: 0;
    }



    .mail {
        margin-top: 25px;
    }

    .footer_social__btn__phone {
        display: inline-block;
        margin-right: 20px;
        max-width: 194px;
        height: 44px;
        border: 1px solid #f82370;
        background-color: #ff4e2e;
        color: #fff3f1;
        font-size: 16px;
    }

    .footer_block {
        margin-bottom: 40px;
        padding-top: 30px;
    }

    .footer_social__icons {
        margin-top: 2px;
    }

    .footer_block__social {
        margin-top: 32px;
    }


    .fa-phone-alt,
    .fa-envelope-open {
        display: none;
    }


}


@media screen and (min-width: 480px) and (max-width: 600px) {

    .container .footer_block {
        display: flex;
        flex-direction: column;
    }


    .footer .container {
        padding: 0 20px;
    }

    .footer_block {
        margin-bottom: 50px;
        padding-top: 30px;
    }


    .footer_block__list {
        display: flex;
        margin-left: 0;

        justify-content: space-between;
    }

    .footer_block__contacts {
        display: inline-block;
        margin-top: 30px;
        margin-bottom: 35px;
        text-align: center;
    }

    .footer_block__contacts .contacts_link {
        margin-right: 20px;
        color: #8993ad;
        font-size: 20px;
        /*        display: inline-block;*/
    }

    .phone_contacts {
        padding-left: 0;
    }

    .mail {
        margin-left: 0;
        padding-left: 0;
    }


    .fa-phone-alt {
        position: absolute;
        top: 30%;
        left: 22%;
        color: green;
        color: #f82074;
        font-size: 15px;
    }

    .fa-envelope-open {
        position: absolute;
        top: 47%;
        left: 22%;
        color: #f82074;
        font-size: 15px;
    }

    .footer_social__icons .social_media {
        opacity: .9;
    }


    .footer_social__btn__phone {
        display: inline-block;
        width: 270px;
        height: 55px;
        border: 1px solid #f82370;
        background-color: #ff4e2e;
        color: #fff3f1;
        font-size: 16px;
    }

    .footer_block__copyright_text {
        margin-left: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 15px;
    }

    .footer_block__social {
        display: flex;
        flex-direction: column;
        margin-right: 0;

        align-items: center;
    }




}




@media screen and (min-width: 528px) and (max-width: 599px) {

    .footer_block__contacts {
        display: inline-block;
        margin-top: 30px;
        margin-bottom: 35px;
        text-align: center;
    }

    .footer_block__contacts .contacts_link {
        margin-right: 20px;
        color: #8993ad;
        font-size: 20px;
    }

    .fa-phone-alt {
        position: absolute;
        top: 29%;
        left: 20%;
        color: green;
        color: #f82074;
        font-size: 18px;
    }

    .fa-envelope-open {
        position: absolute;
        top: 47%;
        left: 20%;
        color: #f82074;
        font-size: 18px;
    }

    .footer_social__icons .social_media {
        opacity: .9;
    }


    .footer_social__btn__phone {
        display: inline-block;
        width: 270px;
        height: 55px;
        border: 1px solid #f82370;
        background-color: #ff4e2e;
        color: #fff3f1;
        font-size: 16px;
    }

    .footer_block__copyright_text {
        margin-left: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 15px;
    }

    .footer_block__social {
        display: flex;
        flex-direction: column;
        margin-right: 0;

        align-items: center;
    }




}







@media screen and (min-width: 380px) and (max-width: 479px) {

    .footer .container {
        padding: 0 20px;
    }



    .container .footer_block {
        display: flex;
        flex-direction: column;
    }


    .footer_block {
        margin-bottom: 50px;
        padding-top: 30px;
    }


    .footer_block__list {
        margin-left: 0;
    }

    .footer_block__contacts {
        margin-top: 30px;
        margin-bottom: 35px;
        margin-left: 40px;
        max-width: 50%;
    }

    .footer_block__contacts .contacts_link {
        display: inline-block;
        color: #8993ad;
        font-size: 20px;
    }

    .phone_contacts {
        padding-left: 0;
    }

    .mail {
        margin-left: 0;
        padding-left: 0;
    }


    .fa-phone-alt {
        position: absolute;
        top: 42%;
        left: 6%;
        color: green;
        color: #f82074;
        font-size: 13px;
    }

    .fa-envelope-open {
        position: absolute;
        top: 56%;
        left: 6%;
        color: #f82074;
        font-size: 13px;
    }

    .footer_social__icons .social_media {
        opacity: .6;
    }


    .footer_social__btn__phone {
        display: inline-block;
        width: 270px;
        height: 55px;
        border: 1px solid #f82370;
        background-color: #ff4e2e;
        color: #fff3f1;
        font-size: 16px;
    }

    .footer_block__copyright_text {
        margin-left: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 12px;
    }

    .footer_block__social {
        margin-right: 0;
    }

}






@media screen and (min-width: 320px) and (max-width: 380px) {

    .footer .container {
        padding: 0 20px;
    }



    .container .footer_block {
        display: flex;
        flex-direction: column;
    }


    .footer_block {
        margin-bottom: 50px;
        padding-top: 30px;
    }


    .footer_block__list {
        margin-left: 0;
    }

    .footer_block__contacts {
        margin-top: 30px;
        margin-bottom: 35px;
        margin-left: 40px;
    }

    .footer_block__contacts .contacts_link {
        display: inline-block;
        color: #8993ad;
        font-size: 20px;
    }

    .phone_contacts {
        padding-left: 0;
    }

    .mail {
        margin-left: 0;
        padding-left: 0;
    }


    .fa-phone-alt {
        position: absolute;
        top: 42%;
        left: 6%;
        color: green;
        color: #f82074;
        font-size: 13px;
    }

    .fa-envelope-open {
        position: absolute;
        top: 57%;
        left: 6%;
        color: #f82074;
        font-size: 13px;
    }

    .footer_social__icons .social_media {
        opacity: .6;
    }




    .footer_social__btn__phone {
        display: inline-block;
        width: 270px;
        height: 55px;
        border: 1px solid #f82370;
        background-color: #ff4e2e;
        color: #fff3f1;
        font-size: 16px;
        transition: background-color .5s;
    }

    .footer_social__btn__phone:hover {
        background-color: #ff4e2e61;
    }



    .footer_block__copyright_text {
        margin-left: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 12px;
    }

    .footer_block__social {
        margin-right: 0;
    }

}