.header {
    background: #f9f9f9;
}

.header .container {
    display: flex;
    padding-top: 28px;
}


.top_btn {
    position: fixed;
    right: 10px;
    bottom: 85px;
    z-index: 60;
    display: none;
    width: 50px;
    height: 50px;
    background-image: url('../img/uparrow5_78514.png');
    background-size: 40px;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform .5s ease;
}







.header-nav__menu_link {
    display: inline-block;
    padding-right: 31px;
    padding-left: 0px;
    color: black;
    font-size: 16px;
}



.header-nav__right-header {
    display: flex;
    margin-left: auto;

    align-items: center;
}




.call_back {
    display: inline-block;
    padding: 15px 39px;
    width: 207px;
    height: 45px;
    border: 1px solid #f82370;
    background-color: #fbfbfb;
    color: #f82370;
    font-size: 16px;
    transition: background-color 1s;
}



.call_back:hover {
    border: none;
    background-color: #f82370;
    color: white;
}

.phone {
    display: inline-block;
    margin-right: 28px;
    color: black;
    font-weight: bold;
    font-size: 25px;
    transition: color .6s;
}



.phone:hover {
    color: #f8237047;
    opacity: .5;
}



.header-nav__menu {
    display: flex;
    padding-top: 17px;

    justify-content: flex-start;
}


.header-nav__menu_link::after {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #f82370;
    content: "";
    transition: transform 0.2s;
    transform: scaleX(0);
}

.header-nav__menu_link:hover::after {
    transform: scaleY(1);
}

.header-nav__menu_link:hover {
    color: #fc557c;
}




.menu_burger {
    display: none;
}



/* Модальное окно "узнать больше" */

.window_container {
    position: fixed;
    z-index: 30;
    display: none;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}

.window {
    position: absolute;
    top: 30%;
    right: 0;
    left: 0;
    margin: 30px auto;
    width: 320px;
    height: 280px;
    border: 3px solid #ff4e2e;
    text-align: center;
}


.window__field {
    margin-top: 20px;
}





.window_name,
.window_mail,
.window_tel {
    box-sizing: border-box;
    padding: 10px;
    width: 80%;
    outline: none;
    border: 1px solid red;
    border-radius: 2px;
}


.error {
    color: red;
}

/*
.window__field input:valid:not(:placeholder-shown) {
    border-color: green;
}

.window__field input:invalid:not(:placeholder-shown) {
    border-color: red;
}

.window__field input:invalid:not(:placeholder-shown) + .window__error {
    display: block;
}
*/

.btn_sub {
    /*    text-align: center;*/
    display: inline-block;
    margin-top: 25px;
    padding: 10px 0px;
    width: 80%;
    border: none;
    background-color: #ff4e2e;
    color: white;
    transition: background-color .5s;
}

.btn_sub:hover {
    background-color: #ff4e2e69;
    cursor: pointer;
}




.close_button_more {
    position: absolute;
    top: -5px;
    right: -5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
    background-image: url(../img/closse_btn.png);
    background-repeat: no-repeat;
    transition: opacity .6s;
}


.close_button_more:hover {
    opacity: .4;
    cursor: pointer;
}

/* Конец модального окна */





/* Кнопка заказать звонок     */


.window_container_new {
    position: fixed;
    z-index: 30;
    display: none;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}

.window_new {
    position: absolute;
    top: 30%;
    right: 0;
    left: 0;
    margin: 30px auto;
    width: 300px;
    height: 260px;
    border: 3px solid #ff4e2e;
    text-align: center;
}

.window_new .window__field {
    margin-top: 30px;
}


.window_new .window__error {
    display: block;
    display: none;
    margin: 0 auto;
    margin-top: 3px;
    width: 80%;
    color: red;
    font-size: 12px;
}



.close_button {
    position: absolute;
    top: -5px;
    right: -5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
    background-image: url(../img/closse_btn.png);
    background-repeat: no-repeat;
    transition: opacity .6s;
}




.close_button:hover {
    opacity: .4;
    cursor: pointer;
}



/* конец кнопки*/



/*  ТЕГИ  */


@media screen and (min-width: 1024px) and (max-width: 1169px) {


    .header .container {
        padding-top: 28px;

        align-items: center;
    }



    .header-nav__right-header {
        margin-left: auto;
    }


    .call_back_mob {
        display: none;
    }



    .call_back {
        margin-right: 0;
    }




    .header-nav__menu {
        display: none;
    }


    .menu_burger {
        display: block;
        border: none;
        background-color: transparent;
    }



    .menu_burger span {
        display: block;
        margin-bottom: 6px;
        width: 44px;
        height: 5px;
        background-image: -moz-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        background-image: -webkit-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        background-image: -ms-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
    }



    /* всплывающий список */

    .header_nav__open {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.3s, visibility 0.3s;
    }

    .header-nav__menu {
        position: fixed;
        top: 40px;
        left: 0;
        z-index: 50;
        visibility: hidden;
        overflow-y: scroll;
        margin: 0;
        margin-top: 35px;
        padding: 0;
        /*        min-height: 200px;*/
        width: 100%;
        /*        height: 30vh;*/
        background-color: white;
        opacity: 0;
        transition: opacity 0.3s, visibility 0.3s;
    }


    .header-nav__menu {
        display: flex;
        flex-direction: column;
        width: 100%;
    }


    .header-nav__item {
        display: inline-block;
        margin-bottom: 20px;
        width: 100%;
        border-bottom: 1px solid #ebebeb;
        text-align: left;
    }

    .header-nav__menu_link {
        display: block;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 35px;
        font-weight: normal;
        font-size: 20px;
    }






    .header-nav__menu_link:active {
        border-bottom: 1px solid #fc557c;
        color: #fc557c;
    }



    .menu_burger__open span {
        position: fixed;
        top: 5%;
        left: 3%;
        display: block;
        width: 20px;
        height: 2px;
        background-color: black;
        transform: translateY(-50%);
    }




    .menu_burger__open span:first-child {
        width: 35px;
        height: 5px;
        transform: rotate(-45deg);
    }

    .menu_burger__open span:last-child {
        width: 35px;
        height: 5px;
        transform: rotate(45deg);
    }


    .menu_burger__open span:nth-child(2) {
        display: none;
        transform: rotate(10deg);
    }



    /* Конец списка */

}



@media screen and (min-width: 901px) and (max-width: 1023px) {


    .header .container {
        padding-top: 28px;

        align-items: center;
    }




    .call_back_mob {
        display: none;
    }

    .call_back {
        margin-right: 0;
    }



    .header-nav__right-header {
        margin-left: auto;
    }

    .header-nav__menu {
        display: none;
    }

    .menu_burger {
        display: block;
        outline: none;
        border: none;
        background-color: transparent;
    }




    .menu_burger span {
        display: block;
        margin-bottom: 6px;
        width: 44px;
        height: 5px;
        border: none;
        background-image: -moz-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        background-image: -webkit-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        background-image: -ms-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
    }



    /* всплывающий список */

    .header_nav__open {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.3s, visibility 0.3s;
    }

    .header-nav__menu {
        position: fixed;
        top: 45px;
        left: 0;
        z-index: 50;
        visibility: hidden;
        overflow-y: scroll;
        margin: 0;
        margin-top: 40px;
        padding: 0;
        min-height: 180px;
        width: 30%;
        height: 10vh;
        background-color: white;
        opacity: 0;
        transition: opacity 0.3s, visibility 0.3s;
    }


    .header-nav__menu {
        display: flex;
        flex-direction: column;
        width: 100%;
    }


    .header-nav__item {
        display: inline-block;
        margin-bottom: 20px;
        width: 100%;
        border-bottom: 1px solid #ebebeb;
        text-align: left;
    }

    .header-nav__menu_link {
        display: block;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 35px;
        font-weight: normal;
        font-size: 20px;
    }




    .header-nav__menu_link:active {
        border-bottom: 1px solid #fc557c;
        color: #fc557c;
    }



    .menu_burger__open span {
        position: fixed;
        left: 5%;
        /*        top: 50%;*/
        display: block;
        width: 20px;
        height: 2px;
        transform: translateY(-50%);
    }


    .menu_burger__open span:first-child {
        width: 35px;
        height: 5px;
        transform: rotate(-45deg);
    }

    .menu_burger__open span:last-child {
        width: 35px;
        height: 5px;
        transform: rotate(45deg);
    }


    .menu_burger__open span:nth-child(2) {
        display: none;
        transform: rotate(10deg);
    }



    /* Конец списка */

}







@media screen and (min-width: 769px) and (max-width: 900px) {

    .header .container {
        padding-top: 28px;

        align-items: center;
    }


    .call_back_mob {
        display: none;
    }



    .call_back {
        display: block;
    }

    .header-nav__right-header {
        margin-left: auto;
    }

    .header-nav__menu {
        display: none;
    }


    .menu_burger {
        display: block;
        outline: none;
        border: none;
        background-color: transparent;
    }


    .menu_burger span {
        display: block;
        margin-bottom: 6px;
        width: 40px;
        height: 5px;
        border: none;
        background-image: -moz-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        background-image: -webkit-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        background-image: -ms-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
    }



    .call_back {
        margin-right: 0;
    }





    /* всплывающий список */

    .header_nav__open {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.3s, visibility 0.3s;
    }

    .header-nav__menu {
        position: fixed;
        top: 50px;
        left: 0;
        z-index: 50;
        visibility: hidden;
        overflow-y: scroll;
        margin: 0;
        margin-top: 40px;
        padding: 0;
        min-height: 180px;
        width: 30%;
        height: 10vh;
        background-color: white;
        opacity: 0;
        transition: opacity 0.3s, visibility 0.3s;
    }


    .header-nav__menu {
        display: flex;
        flex-direction: column;
        width: 100%;
    }


    .header-nav__item {
        display: inline-block;
        margin-bottom: 20px;
        width: 100%;
        border-bottom: 1px solid #ebebeb;
        text-align: left;
    }

    .header-nav__menu_link {
        display: block;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 35px;
        font-weight: normal;
        font-size: 20px;
    }





    .header-nav__menu_link:active {
        border-bottom: 1px solid #fc557c;
        color: #fc557c;
    }



    .menu_burger__open span {
        position: fixed;
        left: 5%;
        /*        top: 50%;*/
        display: block;
        width: 20px;
        height: 2px;
        transform: translateY(-50%);
    }




    .menu_burger__open span:first-child {
        width: 35px;
        height: 5px;
        transform: rotate(-45deg);
    }

    .menu_burger__open span:last-child {
        width: 35px;
        height: 5px;
        transform: rotate(45deg);
    }


    .menu_burger__open span:nth-child(2) {
        display: none;
        transform: rotate(10deg);
    }



    /* Конец списка */

}



@media screen and (min-width: 601px) and (max-width: 768px) {


    .header .container {
        display: flex;
        padding-top: 28px;

        align-items: center;
    }

    .header-nav__menu {
        display: none;
    }

    .header {
        background: #f9f9f9;
    }


    .header-nav__right-header {
        margin-left: auto;
    }



    .phone {
        position: absolute;
        top: 30px;
        right: 0;
        bottom: 0;
        left: 40%;
        display: inline-block;
        margin-right: 0;
        font-size: 18px;
    }



    .call_back {
        display: inline-block;
        margin: 0;
        padding: 0;
        width: 26px;
        height: 26px;
        border: none;
        background-image: url('../img/mob_btn.png');
        background-repeat: no-repeat;
        font-size: 0;
    }



    .menu_burger {
        display: block;
        outline: none;
        border: none;
        background-color: transparent;
    }






    .menu_burger span {
        display: block;
        margin-bottom: 5px;
        width: 20px;
        height: 2px;
        border: none;
        background-image: -moz-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        background-image: -webkit-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        background-image: -ms-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
    }


    /* всплывающий список */

    .header_nav__open {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.3s, visibility 0.3s;
    }

    .header-nav__menu {
        position: fixed;
        top: 40px;
        left: 0;
        z-index: 50;
        visibility: hidden;
        overflow-y: scroll;
        margin: 0;
        margin-top: 35px;
        padding: 0;
        /*        min-height: 200px;*/
        width: 100%;
        /*        height: 30vh;*/
        background-color: white;
        opacity: 0;
        transition: opacity 0.3s, visibility 0.3s;
    }


    .header-nav__menu {
        display: flex;
        flex-direction: column;
        width: 100%;
    }


    .header-nav__item {
        display: inline-block;
        margin-bottom: 20px;
        width: 100%;
        border-bottom: 1px solid #ebebeb;
        text-align: left;
    }

    .header-nav__menu_link {
        display: block;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 18px;
        font-weight: normal;
        font-size: 18px;
    }





    .header-nav__menu_link:active {
        border-bottom: 1px solid #fc557c;
        color: #fc557c;
    }



    .menu_burger__open span {
        position: fixed;
        left: 5%;
        z-index: 20;
        /*        top: 50%;*/
        display: block;
        width: 25px;
        height: 3px;
        transform: translateY(-50%);
    }




    .menu_burger__open span:first-child {
        transform: rotate(-45deg);
    }

    .menu_burger__open span:last-child {
        transform: rotate(45deg);
    }


    .menu_burger__open span:nth-child(2) {
        display: none;
        transform: rotate(10deg);
    }



    /* Конец списка */

}




@media screen and (min-width: 480px) and (max-width: 600px) {



    .header .container {
        padding-top: 28px;

        /*        display: flex;*/
        align-items: center;
    }

    .header-nav__menu {
        display: none;
    }

    .header {
        background: #f9f9f9;
    }


    .header-nav__right-header {
        margin-left: auto;
    }



    .phone {
        position: absolute;
        top: 51%;
        left: 33%;
        display: inline-block;
        margin-right: 0;
        font-size: 18px;
    }

    .call_back {
        display: inline-block;
        margin: 0;
        padding: 0;
        width: 26px;
        height: 26px;
        border: none;
        background-image: url('../img/mob_btn.png');
        background-repeat: no-repeat;
        font-size: 0;
    }


    .menu_burger {
        display: block;
        outline: none;
        border: none;
        background-color: transparent;
    }



    .menu_burger span {
        display: block;
        margin-bottom: 5px;
        width: 20px;
        height: 2px;
        border: none;
        background-image: -moz-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        background-image: -webkit-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        background-image: -ms-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
    }




    /* всплывающий список */

    .header_nav__open {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.3s, visibility 0.3s;
    }

    .header-nav__menu {
        position: fixed;
        top: 30px;
        left: 0;
        z-index: 50;
        visibility: hidden;
        overflow-y: scroll;
        margin: 0;
        margin-top: 40px;
        padding: 0;
        /*        min-height: 200px;*/
        width: 100%;
        /*        height: 30vh;*/
        background-color: white;
        opacity: 0;
        transition: opacity 0.3s, visibility 0.3s;
    }


    .header-nav__menu {
        display: flex;
        flex-direction: column;
        width: 100%;
    }


    .header-nav__item {
        display: inline-block;
        margin-bottom: 20px;
        width: 100%;
        border-bottom: 1px solid #ebebeb;
        text-align: left;
    }

    .header-nav__menu_link {
        display: block;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 18px;
        font-weight: normal;
        font-size: 20px;
    }




    .header-nav__menu_link:active {
        border-bottom: 1px solid #fc557c;
        color: #fc557c;
    }



    .menu_burger__open span {
        position: fixed;
        left: 5%;
        z-index: 20;
        /*        top: 50%;*/
        display: block;
        width: 20px;
        height: 3px;
        transform: translateY(-50%);
    }




    .menu_burger__open span:first-child {
        transform: rotate(-45deg);
    }

    .menu_burger__open span:last-child {
        transform: rotate(45deg);
    }


    .menu_burger__open span:nth-child(2) {
        display: none;
        transform: rotate(10deg);
    }



    /* Конец списка */

}


@media screen and (min-width: 528px) and (max-width: 599px) {



    .header .container {
        display: flex;

        align-items: center;
    }

    .header-nav__menu {
        display: none;
    }

    .header {
        background: #f9f9f9;
    }


    .header-nav__right-header {
        margin-left: auto;
    }




    .phone {
        position: absolute;
        top: 53%;
        left: 35%;
        display: inline-block;
        margin-right: 0;
        font-size: 18px;
    }



    .call_back {
        display: inline-block;
        margin: 0;
        padding: 0;
        width: 26px;
        height: 26px;
        border: none;
        background-image: url('../img/mob_btn.png');
        background-repeat: no-repeat;
        font-size: 0;
    }

    /* всплывающий список */

    .header_nav__open {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.3s, visibility 0.3s;
    }

    .header-nav__menu {
        position: fixed;
        top: 30px;
        left: 0;
        z-index: 50;
        visibility: hidden;
        overflow-y: scroll;
        margin: 0;
        margin-top: 35px;
        padding: 0;
        min-height: 200px;
        width: 100%;
        height: 30vh;
        background-color: white;
        opacity: 0;
        transition: opacity 0.3s, visibility 0.3s;
    }


    .header-nav__menu {
        display: flex;
        flex-direction: column;
        width: 100%;
    }


    .header-nav__item {
        display: inline-block;
        margin-bottom: 20px;
        width: 100%;
        border-bottom: 1px solid #ebebeb;
        text-align: left;
    }

    .header-nav__menu_link {
        display: block;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 18px;
        font-weight: normal;
        font-size: 20px;
    }





    .header-nav__menu_link:active {
        border-bottom: 1px solid #fc557c;
        color: #fc557c;
    }


    .menu_burger {
        display: block;
        border: none;
        background-color: transparent;
    }




    .menu_burger__open span {
        position: fixed;
        left: 5%;
        z-index: 20;
        /*        top: 50%;*/
        display: block;
        width: 20px;
        height: 3px;
        background-color: black;
        transform: translateY(-50%);
    }




    .menu_burger__open span:first-child {
        transform: rotate(-45deg);
    }

    .menu_burger__open span:last-child {
        transform: rotate(45deg);
    }


    .menu_burger__open span:nth-child(2) {
        display: none;
        transform: rotate(10deg);
    }



    /* Конец списка */


}



@media screen and (min-width: 380px) and (max-width: 480px) {



    .header .container {
        padding-top: 28px;

        align-items: center;
    }


    .header-nav__menu {
        display: none;
    }

    .header {
        background: #f9f9f9;
    }


    .header-nav__right-header {
        margin-left: auto;
    }



    .phone {
        position: absolute;
        top: 53%;
        left: 28%;
        display: inline-block;
        margin-right: 0;
        font-size: 18px;
    }


    .call_back {
        display: inline-block;
        margin: 0;
        padding: 0;
        width: 26px;
        height: 26px;
        border: none;
        background-image: url('../img/mob_btn.png');
        background-repeat: no-repeat;
        font-size: 0;
    }




    .menu_burger {
        display: block;
        outline: none;
        border: none;
        background-color: transparent;
    }





    .menu_burger span {
        display: block;
        margin-bottom: 5px;
        width: 20px;
        height: 2px;
        border: none;
        background-image: -moz-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        background-image: -webkit-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        background-image: -ms-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
    }



    /* всплывающий список */

    .header_nav__open {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.3s, visibility 0.3s;
    }

    .header-nav__menu {
        position: fixed;
        top: 30px;
        left: 0;
        z-index: 50;
        visibility: hidden;
        overflow-y: scroll;
        margin: 0;
        margin-top: 40px;
        padding: 0;
        /*        min-height: 200px;*/
        width: 100%;
        /*        height: 30vh;*/
        background-color: white;
        opacity: 0;
        transition: opacity 0.3s, visibility 0.3s;
    }


    .header-nav__menu {
        display: flex;
        flex-direction: column;
        width: 100%;
    }


    .header-nav__item {
        display: inline-block;
        margin-bottom: 20px;
        width: 100%;
        border-bottom: 1px solid #ebebeb;
        text-align: left;
    }

    .header-nav__menu_link {
        display: block;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 18px;
        font-weight: normal;
        font-size: 16px;
    }





    .header-nav__menu_link:active {
        border-bottom: 1px solid #fc557c;
        color: #fc557c;
    }



    .menu_burger__open span {
        position: fixed;
        left: 5%;
        z-index: 20;
        /*        top: 50%;*/
        display: block;
        width: 20px;
        height: 2px;
        background-color: black;
        transform: translateY(-50%);
    }

    .menu_burger__open span:first-child {
        transform: rotate(-45deg);
    }

    .menu_burger__open span:last-child {
        transform: rotate(45deg);
    }


    .menu_burger__open span:nth-child(2) {
        display: none;
        transform: rotate(10deg);
    }



    /* Конец списка */

}




@media screen and (min-width: 320px) and (max-width: 380px) {



    .header .container {
        padding-top: 28px;

        align-items: center;
    }


    .header-nav__menu {
        display: none;
    }

    .header {
        background: #f9f9f9;
    }


    .header-nav__right-header {
        margin-left: auto;
    }



    .phone {
        position: absolute;
        top: 53%;
        right: 0;
        bottom: 0;
        left: 25%;
        display: inline-block;
        margin-right: 0;
        font-size: 18px;
    }

    .call_back {
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 0;
        width: 26px;
        height: 26px;
        border: none;
        background-image: url('../img/mob_btn.png');
        background-repeat: no-repeat;
        font-size: 0;
    }





    .menu_burger {
        display: block;
        outline: none;
        border: none;
        background-color: transparent;
    }




    .menu_burger span {
        display: block;
        margin-bottom: 5px;
        width: 20px;
        height: 2px;
        border: none;
        background-image: -moz-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        background-image: -webkit-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        background-image: -ms-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
    }


    /* всплывающий список */

    .header_nav__open {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.3s, visibility 0.3s;
    }

    .header-nav__menu {
        position: fixed;
        top: 30px;
        left: 0;
        z-index: 50;
        visibility: hidden;
        overflow-y: scroll;
        margin: 0;
        margin-top: 35px;
        padding: 0;
        /*        min-height: 200px;*/
        width: 100%;
        /*        height: 30vh;*/
        background-color: white;
        opacity: 0;
        transition: opacity 0.3s, visibility 0.3s;
    }


    .header-nav__menu {
        display: flex;
        flex-direction: column;
        width: 100%;
    }


    .header-nav__item {
        display: inline-block;
        margin-bottom: 20px;
        width: 100%;
        border-bottom: 1px solid #fc557c;
        text-align: left;
    }

    .header-nav__menu_link {
        display: inline-block;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 18px;
        font-weight: normal;
        font-size: 15px;
    }


    .header-nav__menu_link:active {
        border-bottom: 1px solid #fc557c;
        color: #fc557c;
    }



    .menu_burger__open span {
        position: fixed;
        left: 5%;
        z-index: 20;
        /*        top: 50%;*/
        display: block;
        width: 20px;
        height: 2px;
        background-color: black;
        transform: translateY(-50%);
    }




    .menu_burger__open span:first-child {
        transform: rotate(-45deg);
    }

    .menu_burger__open span:last-child {
        transform: rotate(45deg);
    }


    .menu_burger__open span:nth-child(2) {
        display: none;
        transform: rotate(10deg);
    }



    /* Конец списка */


}