.header {
    background: #f9f9f9;
    /*        display: none;*/
}

.header .container {
    display: flex;
    padding-top: 28px;
}



.header-nav__menu_link {
    display: inline-block;
    padding-right: 31px;
    padding-left: 0px;
    color: black;
    font-size: 16px;
}



.header-nav__right-header {
    display: flex;
    align-items: center;
    margin-left: auto;
}




.call_back {
    display: inline-block;
    width: 207px;
    height: 45px;
    border: 1px solid #f82370;
    background-color: #fbfbfb;
    color: #f82370;
    font-size: 16px;
    padding: 15px 39px;
    /*    margin-right: -7px;*/
    transition: background-color .5s;
}



.call_back:hover {
    background-color: #f82370;
    color: white;
    border: none;
}

.phone {
    display: inline-block;
    color: black;
    font-weight: bold;
    font-size: 25px;
    margin-right: 28px;
    transition: color .6s;
}



.phone:hover {
    color: #f8237047;
    opacity: .7;
}



.header-nav__menu {
    display: flex;
    padding-top: 17px;
    justify-content: flex-start;
}


.header-nav__menu_link::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    background-color: #f82370;
    transition: transform 0.2s;
}

.header-nav__menu_link:hover::after {
    transform: scaleY(1);
}

.header-nav__menu_link:hover {
    color: #fc557c;
}




.menu_burger {
    display: none;
}



/* Модальное окно "узнать больше" */

.window_container {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    z-index: 30;
    background-color: aliceblue;
}

.window {
    border: 3px solid #ff4e2e;
    text-align: center;
    margin: 30px auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    border: 3px solid #ff4e2e;
    width: 300px;
    height: 300px;
}

.window label {
    display: block;
    padding: 10px;
}


.name,
.email,
.tel {
    border: 2px solid #f82370;
    display: inline-block;
    outline: none;
    padding: 5px 5px;
    font-size: 14px;
    opacity: 0.8;
    text-align: center;
}


.btn_sub {
    width: 60%;
    margin-top: 20px;
    display: inline-block;
    color: white;
    padding: 5px 5px;
    background-color: blue;
}



.close_button_more {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(../img/closse_btn.png);
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    position: absolute;
    top: -5px;
    right: -5px;
}


/* Конец модального окна */





/* Кнопка заказать звонок     */


.window_container_new {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    z-index: 30;
    background-color: aliceblue;
}

.window_new {
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    border: 3px solid #ff4e2e;
    width: 300px;
    height: 260px;
    text-align: center;
    margin: 30px auto;
}

.window_new label {
    display: block;
    padding: 10px;
}


.name,
.tel {
    border: 2px solid #f82370;
    display: inline-block;
    outline: none;
    padding: 5px 5px;
    font-size: 14px;
    opacity: 0.8;
    text-align: center;
}


.btn_sub {
    width: 60%;
    margin-top: 20px;
    display: inline-block;
    color: white;
    padding: 5px 5px;
    background-color: blue;
}


.close_button {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(../img/closse_btn.png);
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    position: absolute;
    top: -5px;
    right: -5px;
}

/* конец кнопки*/



/*  ТЕГИ  */


@media screen and (min-width: 1024px) and (max-width: 1169px) {


    .header .container {
        padding-top: 28px;
        align-items: center;
    }



    .header-nav__right-header {
        margin-left: auto;
    }


    .call_back_mob {
        display: none;
    }



    .call_back {
        margin-right: 0;
    }




    .header-nav__menu {
        display: none;
    }


    .menu_burger {
        display: block;
        border: none;
        background-color: transparent;
    }



    .menu_burger span {
        display: block;
        margin-bottom: 6px;
        width: 44px;
        height: 5px;
        background-image: -moz-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        background-image: -webkit-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        background-image: -ms-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
    }



    /* всплывающий список */

    .header_nav__open {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s, visibility 0.3s;
    }

    .header-nav__menu {
        position: fixed;
        left: 0;
        top: 40px;
        margin: 0;
        width: 100%;
        height: 30vh;
        min-height: 200px;
        overflow-y: scroll;
        background-color: white;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
        z-index: 50;
        margin-top: 35px;
        padding: 0;

    }


    .header-nav__menu {
        width: 100%;
        display: flex;
        flex-direction: column;
    }


    .header-nav__item {
        display: inline-block;
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #ebebeb;
        margin-bottom: 20px;
    }

    .header-nav__menu_link {
        display: block;
        padding-left: 35px;
        padding-top: 5px;
        margin: 0;
        padding-bottom: 10px;
        font-size: 20px;
        font-weight: normal;
    }






    .header-nav__menu_link:active {
        border-bottom: 1px solid #fc557c;
        color: #fc557c;
    }



    .menu_burger__open span {
        position: fixed;
        left: 3%;
        top: 5%;
        display: block;
        height: 2px;
        width: 20px;
        transform: translateY(-50%);
        background-color: black;

    }




    .menu_burger__open span:first-child {
        transform: rotate(-45deg);
        width: 35px;
        height: 5px;
    }

    .menu_burger__open span:last-child {
        transform: rotate(45deg);
        width: 35px;
        height: 5px;
    }


    .menu_burger__open span:nth-child(2) {
        transform: rotate(10deg);
        display: none;
    }



    /* Конец списка */

}



@media screen and (min-width: 901px) and (max-width: 1023px) {


    .header .container {
        padding-top: 28px;
        align-items: center;
    }




    .call_back_mob {
        display: none;
    }

    .call_back {
        margin-right: 0;
    }



    .header-nav__right-header {
        margin-left: auto;

    }

    .header-nav__menu {
        display: none;
    }

    .menu_burger {
        display: block;
        border: none;
        background-color: transparent;
        outline: none;
    }




    .menu_burger span {
        display: block;
        margin-bottom: 6px;
        width: 44px;
        height: 5px;
        background-image: -moz-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        background-image: -webkit-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        background-image: -ms-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        border: none;
    }



    /* всплывающий список */

    .header_nav__open {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s, visibility 0.3s;
    }

    .header-nav__menu {
        position: fixed;
        left: 0;
        top: 45px;
        margin: 0;
        width: 30%;
        height: 10vh;
        min-height: 180px;
        overflow-y: scroll;
        background-color: white;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
        z-index: 50;
        margin-top: 35px;
        padding: 0;
    }


    .header-nav__menu {
        width: 100%;
        display: flex;
        flex-direction: column;
    }


    .header-nav__item {
        display: inline-block;
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #ebebeb;
        margin-bottom: 20px;
    }

    .header-nav__menu_link {
        display: block;
        padding-left: 35px;
        padding-top: 5px;
        margin: 0;
        padding-bottom: 10px;
        font-size: 20px;
        font-weight: normal;
    }




    .header-nav__menu_link:active {
        border-bottom: 1px solid #fc557c;
        color: #fc557c;
    }



    .menu_burger__open span {
        position: fixed;
        left: 5%;
        /*        top: 50%;*/
        display: block;
        height: 2px;
        width: 20px;
        transform: translateY(-50%);
    }


    .menu_burger__open span:first-child {
        transform: rotate(-45deg);
        width: 35px;
        height: 5px;
    }

    .menu_burger__open span:last-child {
        transform: rotate(45deg);
        width: 35px;
        height: 5px;
    }


    .menu_burger__open span:nth-child(2) {
        transform: rotate(10deg);
        display: none;
    }



    /* Конец списка */

}







@media screen and (min-width: 769px) and (max-width: 900px) {

    .header .container {
        padding-top: 28px;
        align-items: center;
    }


    .call_back_mob {
        display: none;
    }



    .call_back {
        display: block;
    }

    .header-nav__right-header {
        margin-left: auto;

    }

    .header-nav__menu {
        display: none;
    }


    .menu_burger {
        display: block;
        border: none;
        background-color: transparent;
        outline: none;
    }


    .menu_burger span {
        display: block;
        margin-bottom: 6px;
        width: 40px;
        height: 5px;
        background-image: -moz-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        background-image: -webkit-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        background-image: -ms-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        border: none;
    }



    .call_back {
        margin-right: 0;
    }





    /* всплывающий список */

    .header_nav__open {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s, visibility 0.3s;
    }

    .header-nav__menu {
        position: fixed;
        left: 0;
        top: 50px;
        margin: 0;
        width: 30%;
        height: 10vh;
        min-height: 180px;
        overflow-y: scroll;
        background-color: white;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
        z-index: 50;
        margin-top: 35px;
        padding: 0;

    }


    .header-nav__menu {
        width: 100%;
        display: flex;
        flex-direction: column;
    }


    .header-nav__item {
        display: inline-block;
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #ebebeb;
        margin-bottom: 20px;
    }

    .header-nav__menu_link {
        display: block;
        padding-top: 5px;
        padding-left: 35px;
        margin: 0;
        padding-bottom: 10px;
        font-size: 20px;
        font-weight: normal;
    }





    .header-nav__menu_link:active {
        border-bottom: 1px solid #fc557c;
        color: #fc557c;
    }



    .menu_burger__open span {
        position: fixed;
        left: 5%;
        /*        top: 50%;*/
        display: block;
        height: 2px;
        width: 20px;
        transform: translateY(-50%);

    }




    .menu_burger__open span:first-child {
        transform: rotate(-45deg);
        width: 35px;
        height: 5px;
    }

    .menu_burger__open span:last-child {
        transform: rotate(45deg);
        width: 35px;
        height: 5px;
    }


    .menu_burger__open span:nth-child(2) {
        transform: rotate(10deg);
        display: none;
    }



    /* Конец списка */

}



@media screen and (min-width: 601px) and (max-width: 768px) {


    .header .container {
        display: flex;
        align-items: center;
        padding-top: 28px;

    }

    .header-nav__menu {
        display: none;
    }

    .header {
        background: #f9f9f9;
    }


    .header-nav__right-header {
        margin-left: auto;


    }



    .phone {
        position: absolute;
        display: inline-block;
        font-size: 18px;
        top: 30px;
        right: 0;
        left: 40%;
        bottom: 0;
        margin-right: 0;
    }



    .call_back {
        display: inline-block;
        width: 26px;
        height: 26px;
        background-image: url('../img/mob_btn.png');
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
        font-size: 0;
        border: none;
    }



    .menu_burger {
        display: block;
        border: none;
        background-color: transparent;
        outline: none;
    }






    .menu_burger span {
        display: block;
        margin-bottom: 5px;
        width: 20px;
        height: 2px;
        background-image: -moz-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        background-image: -webkit-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        background-image: -ms-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        border: none;
    }


    /* всплывающий список */

    .header_nav__open {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s, visibility 0.3s;
    }

    .header-nav__menu {
        position: fixed;
        left: 0;
        top: 35px;
        margin: 0;
        width: 30%;
        height: 30vh;
        min-height: 200px;
        overflow-y: scroll;
        background-color: white;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
        z-index: 50;
        margin-top: 35px;
        padding: 0;

    }


    .header-nav__menu {
        width: 100%;
        display: flex;
        flex-direction: column;
    }


    .header-nav__item {
        display: inline-block;
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #ebebeb;
        margin-bottom: 20px;
    }

    .header-nav__menu_link {
        display: block;
        padding-left: 18px;
        padding-top: 5px;
        margin: 0;
        padding-bottom: 10px;
        font-size: 20px;
        font-weight: normal;
    }





    .header-nav__menu_link:active {
        border-bottom: 1px solid #fc557c;
        color: #fc557c;
    }



    .menu_burger__open span {
        position: fixed;
        left: 5%;
        /*        top: 50%;*/
        display: block;
        height: 3px;
        width: 25px;
        transform: translateY(-50%);
        z-index: 20;

    }




    .menu_burger__open span:first-child {
        transform: rotate(-45deg);
    }

    .menu_burger__open span:last-child {
        transform: rotate(45deg);
    }


    .menu_burger__open span:nth-child(2) {
        transform: rotate(10deg);
        display: none;
    }



    /* Конец списка */

}




@media screen and (min-width: 480px) and (max-width: 600px) {



    .header .container {
        /*        display: flex;*/
        align-items: center;
        padding-top: 28px;

    }

    .header-nav__menu {
        display: none;
    }

    .header {
        background: #f9f9f9;
    }


    .header-nav__right-header {
        margin-left: auto;


    }



    .phone {
        position: absolute;
        display: inline-block;
        font-size: 18px;
        top: 51%;
        left: 33%;
        margin-right: 0;
    }

    .call_back {
        display: inline-block;
        width: 26px;
        height: 26px;
        background-image: url('../img/mob_btn.png');
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
        font-size: 0;
        border: none;
    }


    .menu_burger {
        display: block;
        border: none;
        background-color: transparent;
        outline: none;
    }



    .menu_burger span {
        display: block;
        margin-bottom: 5px;
        width: 20px;
        height: 2px;
        background-image: -moz-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        background-image: -webkit-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        background-image: -ms-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        border: none;
    }




    /* всплывающий список */

    .header_nav__open {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s, visibility 0.3s;
    }

    .header-nav__menu {
        position: fixed;
        left: 0;
        top: 30px;
        margin: 0;
        width: 100%;
        height: 30vh;
        min-height: 200px;
        overflow-y: scroll;
        background-color: white;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
        z-index: 50;
        margin-top: 35px;
        padding: 0;

    }


    .header-nav__menu {
        width: 100%;
        display: flex;
        flex-direction: column;
    }


    .header-nav__item {
        display: inline-block;
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #ebebeb;
        margin-bottom: 20px;
    }

    .header-nav__menu_link {
        display: block;
        padding-top: 5px;
        padding-left: 18px;
        margin: 0;
        padding-bottom: 10px;
        font-size: 20px;
        font-weight: normal;
    }




    .header-nav__menu_link:active {
        border-bottom: 1px solid #fc557c;
        color: #fc557c;
    }



    .menu_burger__open span {
        position: fixed;
        left: 5%;
        /*        top: 50%;*/
        display: block;
        height: 3px;
        width: 20px;
        transform: translateY(-50%);
        z-index: 20;

    }




    .menu_burger__open span:first-child {
        transform: rotate(-45deg);
    }

    .menu_burger__open span:last-child {
        transform: rotate(45deg);
    }


    .menu_burger__open span:nth-child(2) {
        transform: rotate(10deg);
        display: none;
    }



    /* Конец списка */

}


@media screen and (min-width: 528px) and (max-width: 599px) {



    .header .container {
        display: flex;
        align-items: center;


    }

    .header-nav__menu {
        display: none;
    }

    .header {
        background: #f9f9f9;
    }


    .header-nav__right-header {
        margin-left: auto;
    }




    .phone {
        position: absolute;
        display: inline-block;
        font-size: 18px;
        top: 53%;
        left: 35%;
        margin-right: 0;
    }



    .call_back {
        display: inline-block;
        width: 26px;
        height: 26px;
        background-image: url('../img/mob_btn.png');
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
        font-size: 0;
        border: none;
    }

    /* всплывающий список */

    .header_nav__open {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s, visibility 0.3s;
    }

    .header-nav__menu {
        position: fixed;
        left: 0;
        top: 30px;
        margin: 0;
        width: 100%;
        height: 30vh;
        min-height: 200px;
        overflow-y: scroll;
        background-color: white;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
        z-index: 50;
        margin-top: 35px;
        padding: 0;

    }


    .header-nav__menu {
        width: 100%;
        display: flex;
        flex-direction: column;
    }


    .header-nav__item {
        display: inline-block;
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #ebebeb;
        margin-bottom: 20px;
    }

    .header-nav__menu_link {
        display: block;
        padding-top: 5px;
        padding-left: 18px;
        margin: 0;
        padding-bottom: 10px;
        font-size: 20px;
        font-weight: normal;
    }





    .header-nav__menu_link:active {
        border-bottom: 1px solid #fc557c;
        color: #fc557c;
    }


    .menu_burger {
        display: block;
        border: none;
        background-color: transparent;
    }




    .menu_burger__open span {
        position: fixed;
        left: 5%;
        /*        top: 50%;*/
        display: block;
        height: 3px;
        width: 20px;
        transform: translateY(-50%);
        background-color: black;
        z-index: 20;

    }




    .menu_burger__open span:first-child {
        transform: rotate(-45deg);
    }

    .menu_burger__open span:last-child {
        transform: rotate(45deg);
    }


    .menu_burger__open span:nth-child(2) {
        transform: rotate(10deg);
        display: none;
    }



    /* Конец списка */


}



@media screen and (min-width: 380px) and (max-width: 480px) {



    .header .container {
        align-items: center;
        padding-top: 28px;
    }


    .header-nav__menu {
        display: none;
    }

    .header {
        background: #f9f9f9;
    }


    .header-nav__right-header {
        margin-left: auto;

    }



    .phone {
        position: absolute;
        display: inline-block;
        font-size: 18px;
        top: 53%;
        left: 28%;
        margin-right: 0;
    }


    .call_back {
        display: inline-block;
        width: 26px;
        height: 26px;
        background-image: url('../img/mob_btn.png');
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
        font-size: 0;
        border: none;
    }




    .menu_burger {
        display: block;
        border: none;
        background-color: transparent;
        outline: none;
    }





    .menu_burger span {
        display: block;
        margin-bottom: 5px;
        width: 20px;
        height: 2px;
        background-image: -moz-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        background-image: -webkit-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        background-image: -ms-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        border: none;
    }



    /* всплывающий список */

    .header_nav__open {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s, visibility 0.3s;
    }

    .header-nav__menu {
        position: fixed;
        left: 0;
        top: 30px;
        margin: 0;
        width: 100%;
        height: 30vh;
        min-height: 200px;
        overflow-y: scroll;
        background-color: white;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
        z-index: 50;
        margin-top: 35px;
        padding: 0;

    }


    .header-nav__menu {
        width: 100%;
        display: flex;
        flex-direction: column;
    }


    .header-nav__item {
        display: inline-block;
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #ebebeb;
        margin-bottom: 20px;
    }

    .header-nav__menu_link {
        display: block;
        padding-top: 5px;
        padding-left: 18px;
        margin: 0;
        padding-bottom: 10px;
        font-size: 20px;
        font-weight: normal;
    }





    .header-nav__menu_link:active {
        border-bottom: 1px solid #fc557c;
        color: #fc557c;
    }



    .menu_burger__open span {
        position: fixed;
        left: 5%;
        /*        top: 50%;*/
        display: block;
        height: 2px;
        width: 20px;
        transform: translateY(-50%);
        background-color: black;
        z-index: 20;
    }

    .menu_burger__open span:first-child {
        transform: rotate(-45deg);
    }

    .menu_burger__open span:last-child {
        transform: rotate(45deg);
    }


    .menu_burger__open span:nth-child(2) {
        transform: rotate(10deg);
        display: none;
    }



    /* Конец списка */

}




@media screen and (min-width: 320px) and (max-width: 380px) {



    .header .container {
        align-items: center;
        padding-top: 28px;
    }


    .header-nav__menu {
        display: none;
    }

    .header {
        background: #f9f9f9;
    }


    .header-nav__right-header {
        margin-left: auto;

    }



    .phone {
        position: absolute;
        display: inline-block;
        font-size: 18px;
        top: 53%;
        left: 25%;
        right: 0;
        bottom: 0;
        margin-right: 0;
    }

    .call_back {
        display: inline-block;
        width: 26px;
        height: 26px;
        background-image: url('../img/mob_btn.png');
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
        font-size: 0;
        border: none;
    }





    .menu_burger {
        display: block;
        border: none;
        background-color: transparent;
        outline: none;
    }




    .menu_burger span {
        display: block;
        margin-bottom: 5px;
        width: 20px;
        height: 2px;
        background-image: -moz-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        background-image: -webkit-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        background-image: -ms-linear-gradient(90deg, rgb(242, 101, 34) 0%, rgb(246, 55, 90) 18%, rgb(250, 8, 145) 99%);
        border: none;
    }


    /* всплывающий список */

    .header_nav__open {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s, visibility 0.3s;
    }

    .header-nav__menu {
        position: fixed;
        left: 0;
        top: 30px;
        margin: 0;
        width: 100%;
        height: 30vh;
        min-height: 200px;
        overflow-y: scroll;
        background-color: white;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
        z-index: 50;
        margin-top: 35px;
        padding: 0;

    }


    .header-nav__menu {
        width: 100%;
        display: flex;
        flex-direction: column;
    }


    .header-nav__item {
        display: inline-block;
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #fc557c;
        margin-bottom: 20px;
    }

    .header-nav__menu_link {
        display: inline-block;
        padding-top: 5px;
        padding-left: 18px;
        margin: 0;
        padding-bottom: 10px;
        font-size: 15px;
        font-weight: normal;
    }


    .header-nav__menu_link:active {
        border-bottom: 1px solid #fc557c;
        color: #fc557c;
    }



    .menu_burger__open span {
        position: fixed;
        left: 5%;
        /*        top: 50%;*/
        display: block;
        height: 2px;
        width: 20px;
        transform: translateY(-50%);
        background-color: black;
        z-index: 20;

    }




    .menu_burger__open span:first-child {
        transform: rotate(-45deg);
    }

    .menu_burger__open span:last-child {
        transform: rotate(45deg);
    }


    .menu_burger__open span:nth-child(2) {
        transform: rotate(10deg);
        display: none;
    }



    /* Конец списка */


}